*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject


# Images lololol
*.jpg
*.jpeg
*.jpe
*.png
*.gif

# Other
*.key
.DS_Store
*.mid
*.md
matrix_code_nfi.zip
midicsv-1.1
matrix_code_nfi
midicsv-1.1.tar.gz
GENOCIDE.TXT


